.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px 40px;
}

.productContent {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(600px, 2fr);
  gap: 40px;
  margin-top: 20px;
}

.productGalleryColumn {
  display: flex;
  flex-direction: column;
}

.productInfoColumn {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

@media (max-width: 992px) {
  .container {
    padding: 50px 15px 30px;
  }

  .productContent {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .productGalleryColumn {
    order: -1;
  }
}
