.footer {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  font-family: "Inter", sans-serif;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px 50px 30px;
}

.linkColumn {
  display: flex;
  flex-direction: column;
}

.link {
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 1.1vw, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: clamp(-0.8px, -0.05vw, -0.4px);
}

.link:hover {
  text-decoration: underline;
}

.logo {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: clamp(20px, 11vw, 170px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: clamp(-6px, -0.5vw, -2px);
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .linksContainer {
    flex-direction: column;
    gap: 0px;
  }

  .linkColumn {
    align-items: center;
  }

  .logo {
    letter-spacing: -0.4vw;
  }

  .link {
    letter-spacing: -0.4px;
    margin-bottom: 20px;
  }
}
